p,.centralizar{ 
	text-align: center;
	}
body{
	background-color: #CCCCCC;
		color: 000;
		
}
em strong{
	color: #FF0193;
	}

h1,h2{
	color: #9914FF;
}
#banner {
    width: 100%;
} 

.items{
	font-style: italic;
	list-style: none;
}
#beneficios{
	width: 50%;
}
ul{
	display:inline-block;
	width: 20%
	margin: 15%;
    vertical-align:top;	
}